###rasa_nlu
gevent
Klein
boto3
typing
future
six
jsonschema
matplotlib==2.0
requests
tqdm
numpy==1.14.5
simplejson

### Sklearn
spacy==2.0.1
scikit-learn~=0.19.0
sklearn-crfsuite

###rasa_core
apscheduler
fakeredis==0.10.1
graphviz==0.9.0
h5py
jsonpickle==0.9.0
keras
pandoc
redis
packaging==17.0
tensorflow==1.10.0
networkx
fbmessenger
ConfigArgParse
pykwalify==1.6.0
coloredlogs
ruamel.yaml
flask
rasa_nlu== 0.13.7

###additional
pypandoc
slackclient
rasa_core==0.11.12
git+https://github.com/apixu/apixu-python.git
